NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_HOUSEKEEPING_WS_URL=ws://localhost:8003
NEXT_PUBLIC_RESERVATION_WS_URL=ws://localhost:8007

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=amh-hospitality
KEYCLOAK_CLIENT_ID=pms-frontend

AUTH_GATEWAY_URL=http://localhost:8001
ESTABLISHMENT_SERVICE_URL=http://localhost:8002
HOUSEKEEPING_SERVICE_URL=http://localhost:8003
PRICING_SERVICE_URL=http://localhost:8004
PARTNER_SERVICE_URL=http://localhost:8005
CHANNEL_MANAGER_SERVICE_URL=http://localhost:8006
RESERVATION_SERVICE_URL=http://localhost:8007
FRONT_OFFICE_SERVICE_URL=http://localhost:8008
ANALYTICS_SERVICE_URL=http://localhost:8009
NIGHT_AUDIT_SERVICE_URL=http://localhost:8010
NOTIFICATION_SERVICE_URL=http://localhost:8011
